<%- include('../partial/head')%>
</head>
<body>
  <header class=" bg-red-700 text-shadow-white ">Register your home here</header>

    <form action="/add-home" method="POST">
      <ul>
        <li>
    <h1><input type="text" name="houseName"placeholder="Enter the name of house"/>housename</h1>
    
   <h1><input type="text" name="location" placeholder=" property location"/>location</h1>
    <h1><input type="number"name="price" placeholder="please price per night"/>price per night</h1>
     <h1><input type="text"name="houseimage"placeholder="paste image link"/>upload image</h1>

    <input type="submit"/>
    
    </li>
    </ul>
    </form>
   
  
</body>
</html>