<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= Pagetitle%> </title><!--   here we are using pagetitle as varible so that when we call this partial from different ejs files in views we can specify the title according to the page title of that particular file or webpage -->

  <link rel="stylesheet" href="/output.css"/>
